*, *::after, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-gray: #4A4A4A;
    --clr-primary:#ED5C50;
    --clr-primary-light: hsl(4, 81%, 62%, .7);
    --clr-gray-light: hsl(0, 0%, 29%, .65)
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-gray);
    background-color: #fdfcfc;

}


img{
    max-width: 100%;
}


ul{
    list-style: none;
    padding: 0;
}
span,
h2{
    color: var(--clr-primary);
    font-weight: 800;
}

a{
    text-decoration: none;
}

h1{
    font-size: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
}

h2{
    font-size: clamp(1.99rem, calc(1.91rem + 0.89vw), 2.54rem);
}

p{
    line-height: 30px;
}

header{
    height: 100vh;
    background-image: url('/imgs/phone-bg2.jpg');
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
}




.container{
    width: min(90vw, 1200px);
    margin: 0 auto;
}
.flex{
    display: flex;
}

/*grid utilities*/

.grid{
    display: grid;
}

.gap-1{
    gap: 1em;
}

.gap-2{
    gap: 2em;
}

.gap-3{
    gap: 3em;
}

.gap-4{
    gap: 4em;
}

.grid-place-center{
    place-items: center;
}

.grid-justify-center{
    justify-content: center;
}

.grid-col-auto{
    grid-template-columns: repeat(auto-fill, minmax(280px,300px));
}

.grid-col-auto-2{
    grid-template-columns: repeat(auto-fill, minmax(280px,300px));
}


.flex-justify-btw{
    justify-content: space-between;
}

.flex-align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.logo{
    width: min(20vw, 80px);
}

.icon{
    width: min(5vw, 30px);
}

.m-0-auto{
    margin: 0 auto;
}

.m-top-4{
    margin-top: 4em;
}

.m-top-8{
    margin-top: 8em;
}

.m-bottom-05{
    margin-bottom: .5em;
}

.m-bottom-2{
    margin-bottom: 2em;
}

.m-bottom-4{
    margin-bottom: 4em;
}

.clr-white{
    color: white;
}



.fw-600{
    font-weight: 600;
    
}

p.fw-600{
    margin: 0 !important;
}



.p-100{
    padding: 1.5em 0;
}

.m-section-2{
 margin: max(10vw, 5em) 0;
}

.text-align-center{
    text-align: center;
}

.hero-img{
    transform: translateX(4vw);
    width: 100vw;
}

.overflow{
    max-width: 100vw;
    overflow-x: hidden;
}

.btn{
    padding: .5em 1em;
    border: solid 1px;
    border-radius: 30px;
}

.btn-primary{
    background-color: var(--clr-primary);
    color: white;
    border-color: var(--clr-primary);
}

.btn-secondary{
    background-color: white;
    border-color: var(--clr-primary);
    color: var(--clr-gray);
}

.btn-white{
    background-color: white;
    border-color: white;
    color: var(--clr-primary);
}

.hero-btns{
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 1em;
}

.hero p{
    margin-top: 1em;
}

.mobile-nav{
    
    text-align: center;
    transition: 1s all ease;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    
}

.mobile-nav-show{
    max-height: 500px;
   
    transition: 1s all ease;
    
    margin-bottom: 1em;
    
}

.overlay{
    transition: 1s background-color;
    height: 100%;
    
}

.overlay-show{
    background-color: hsl(0, 0%, 100%, .7);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before{
    background-color: var(--clr-primary) !important;
}

.mobile-nav-link a{
    color: var(--clr-gray);
    
}

.como-comprar{
    background-image: url(/imgs/como\ comprar\ bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 5em 0;
}

.paso{
    text-align: center;
    color: white;
}

.paso-header{
    margin-bottom: 2em;
    background-color: white;
    color: var(--clr-primary);
    padding: .6em 1em;
    position: relative;
    border-radius: 50%;
    display: inline-block;
}

.faq{
    text-align: center;
}

.faq h2{
    margin-bottom: 3em;
}

.paso-header::after{
    position: absolute;
    content: '';
    width: 150%;
    height: 150%;
    border-radius: 50%;
    left: calc(50% - 75%);
    top: calc(50% - 75%);
    background-color: transparent;
    border: solid 1px white;
}

.pregunta{
    position: relative;
    width: min(90vw, 500px);
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    text-align: left;
}

.pregunta::after{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    background-color: var(--clr-primary);
    position: absolute;
}


.pregunta-header::before{
    content: '+';
    right: 15px;
    top: 50%;
    color: white;
    position: absolute;
    transform: translateY(-50%);
    font-size: 1.5rem;
}



.pregunta-header{
    padding: 1em 2em;
    position: relative;
    background-color: var(--clr-primary-light);
    border-bottom: solid 1px hsla(0, 0%, 100%, 0.1);
}

.pregunta-body{
     background-color: var(--clr-primary-light);
     transition: .7s;
     height: 0;
     overflow: hidden;
     overflow-y: auto;
     color: white;
     font: 500;
}

.pregunta-body.accordeon-active{
    padding: 1em 2em;
    height: 200px;
}




@media screen and (min-width:800px) {

    /*Desktop Utilities*/
    .width-40-vw{
        width: 40vw;
    }

    .m-section{
        margin: .8em !important ;
    }
    /*Desktop Utilities End*/
    header{
        background-image: url('/imgs/desktop-bg.jpg');
    }

    .hero{
        width: min(40vw, 500px);
        margin-left: 0;
        
    }

    .mobile-nav,
    .hamburger{
        position: absolute;
        opacity: 0;
        transform: scale(0);
    }

    .height-75{
        height: 75%;
    }

    .grid-text{grid-area: text;}

    .grid-translate .grid-text{
        
        min-width: 357px;
    }

    .grid-img{
        grid-area: img;
        
    }

    .grid-col-2{
        grid-template-columns: 1fr,1fr;
        grid-template-areas: 'text img';
    }

    .grid-col-2-reverse{
        grid-template-areas: 'img text';
    }

    

    .grid-translate .grid-img{
        
        width: min(60vw, 740px);
    }

    .grid.grid-translate{
        transform: translateX(-13vw);
        
    }


    
    
}


@media screen and (max-width:800px){

    .mobile-nav-link a{
        font-weight: 600;
    }
    .desktop-nav {
        position: absolute;
        opacity: 0;
        transform: scale(0);
    }


    .grid-img {
        width: min(95vw, 500px);
        margin: 0 auto;

    }
    .desktop-nav-icons{
        position: absolute;
        opacity: 0;
        transform: scale(0);
    }

    .grid-translate-mobil{
        transform: translateX(-13vw);
        
    }

    .pregunta-body.accordeon-active{
        padding: 1em 2em;
        height: 250px;
    }

    
}






